{% extends 'base.html' %}
{% block content %}
    <p style="text-align: center;" class="secondary_items__description">Рассчет TF-IDF для слов, содержащихся в .txt</p>

    <div class="form-wrapper">
        <div id="drop_zone">
            <form method="POST" id="uploadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <input style="display: none" type="file" accept="text/plain" id="fileElem" name="files" multiple>
                <ul id="fileList"></ul>
                <label for="fileElem" id="drop_zone_footer_label" class="field-comment_drag-area">Выбрать файл</label>
            </form>
        </div>
        <button class="button-main" type="submit" form="uploadForm">Отправить</button>
        <!--- таблица выгруженных файлов, если они уже есть в бд --->
        <div id="uploaded_files_table_wrapper" style="padding-top: 20px ">

            {% if uploaded %}
                <p class="secondary_items__header">Выгруженные файлы</p>
                <table border="1" style=" margin-top: 20px;  font-size: 18px ; min-width: 400px">
                    <thead>
                    <tr>
                        <th>Имя файла</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in uploaded %}
                        <tr>
                            <td>{{ file.file.name }}</td>
                            <td>
                                {#TODO: сделать кнопку рабочей#}
                                <button class="remove-btn" , onclick="deleteFile({{ file.id }})"></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="results" class="button-main">Результат</a>
            {% endif %}
        </div>
    </div>

    <script>
        const dropArea = document.getElementById('drop_zone');
        const fileInput = document.getElementById('fileElem');
        const fileList = document.getElementById('fileList');
        const form = document.getElementById('uploadForm');

        let filesToUpload = [];

        // Блокируем поведение по умолчанию
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, e => {
                e.preventDefault();
                e.stopPropagation();
            }, false);
        });

        // Обработка drop
        dropArea.addEventListener('drop', e => {
            const files = [...e.dataTransfer.files];
            let txts = [];
            files.forEach(file => {
                if (file.type == 'text/plain') {
                    txts.push(file);
                }
            })
            if (txts.length == 0) {
                document.getElementById('drop_zone_footer_label').innerText = "Nuh-uh, только txt-шники";
                setTimeout(() => {
                    document.getElementById('drop_zone_footer_label').innerText = "Выберите файл";
                }, 1000);
            } else {
                addFiles(txts);
            }
        });

        // Обработка input
        fileInput.addEventListener('change', e => {
            const files = [...e.target.files];
            addFiles(files);
        });


        function updateFormData() {
            const dataTransfer = new DataTransfer();
            filesToUpload.forEach(file => dataTransfer.items.add(file));
            fileInput.files = dataTransfer.files;
        }

        function truncateFilename(filename, maxLength = 25) {
            if (filename.length <= maxLength) return filename;

            const dotIndex = filename.lastIndexOf('.');
            const ext = filename.slice(dotIndex); // .png
            const name = filename.slice(0, dotIndex);

            const startLength = 8;
            const endLength = 3;

            const start = name.slice(0, startLength);
            const end = name.slice(-endLength);

            return `${start}...${end}${ext}`;
        }


        function addFiles(files) {
            files.forEach(file => {
                const isDuplicateInQueue = filesToUpload.some(f => f.name === file.name);
                const existingFiles = Array.from(document.querySelectorAll('#uploaded_files_table_wrapper tbody td:first-child'));
                const isDuplicateInTable = existingFiles.some(td => td.textContent.includes(file.name));

                if (isDuplicateInTable) {
                    document.getElementById('drop_zone_footer_label').innerText = "Такой файл уже есть в выгруженных"
                    setTimeout(() => {
                        document.getElementById('drop_zone_footer_label').innerText = "Выберите файл";
                    }, 1000);
                    return;
                }
                if (isDuplicateInQueue) {
                    document.getElementById('drop_zone_footer_label').innerText = "Вы пытаетесь выгрузить два одинаковых файла"
                    setTimeout(() => {
                        document.getElementById('drop_zone_footer_label').innerText = "Выберите файл";
                    }, 1000);
                    return;
                }

                filesToUpload.push(file);

                const li = document.createElement('li');
                li.className = 'file-item';

                const nameDiv = document.createElement('div');
                nameDiv.className = 'file-name';
                nameDiv.textContent = truncateFilename(file.name);

                const removeBtn = document.createElement('button');
                removeBtn.className = 'remove-btn hidden';
                removeBtn.onclick = () => {
                    filesToUpload = filesToUpload.filter(f => f !== file);
                    li.remove();
                    updateFormData();
                };

                const progressBar = document.createElement('div');
                progressBar.className = 'progress-bar';

                li.appendChild(nameDiv);
                li.appendChild(removeBtn);
                li.appendChild(progressBar);
                fileList.appendChild(li);

                simulateProgress(progressBar, removeBtn);
            });

            updateFormData();
            const fileCount = fileList.children.length;

            if (fileCount > 2) {
                dropArea.classList.add('expanded');
            } else {
                dropArea.classList.remove('expanded');
            }
        }


        function simulateProgress(bar, button) {
            let progress = 0;
            const interval = setInterval(() => {
                progress += 20;
                bar.style.width = Math.min(progress, 100) + '%';

                if (progress >= 100) {
                    clearInterval(interval);
                    bar.style.width = '100%';
                    button.classList.remove('hidden');
                }
            }, 100);
        }

        function deleteFile(fileId) {
            if (confirm('Вы уверены, что хотите удалить этот файл?')) {
                fetch(`/delete-file/${fileId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            // Удаляем строку из таблицы
                            document.getElementById(`file-row-${fileId}`).remove();
                        } else {
                            alert('Ошибка при удалении файла');
                        }
                    })
            }
        }


    </script>
{% endblock %}
